*{
   margin: 0;
}
body{
   background-color: #0F0E13;
}

header{
background-color: aliceblue;
margin: 0px;
padding: 5mm;
}

footer{
   color:white;
}

.imglogo{
   margin-bottom: 0px;
   margin-right:8px;
   text-align: center;
   max-height: 40px;
   
 }


 .cadastro p {
   background-color: #FDCE20;
   text-align: center;
   border-radius: 13px;
   padding-right: 70px;
   padding: 10px;
   height: 10%;
   width:6% ; 
   padding-bottom: 7px;
   float: right;
   margin-bottom: 3em;
   
 }

 .cadastro p a{
   color: #0F0E13;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   text-decoration: none;
   margin-top: 30px;
   
 }

 .cadastro p:hover{
   background-color: yellow;

 }

 .galeria{

   background-color: #FDCE20;
   float: right;
   padding-bottom:50% ;
   margin-top: 30px;
   margin-bottom: 20px;
   border-radius: 10px;
   padding-left: 70px;
   text-align: center;
 
 }

 #conteudo{
   margin-top: 1%;
   padding: 50px;
   width: 40%;
   margin-left: 32%;
   border-radius: 10px;
   background: aliceblue;
   color: rgb(0, 0, 0);
   text-align: center;
}

#form{

   text-align: center;
}

.list{

   text-decoration: none;
}




